/* Variables */
:root{
    --violet: hsl(257, 40%, 49%);
    --just-white: #fff
}
/* Globales */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
}

li{
    list-style: none;
}

a{
    color: var(--just-white);
}

body{
    width: 100vw;
    height: 100vh;
    background-color: var(--violet);
}

header{
    width: 100%;
    min-width: 320px;
    height: 373px;
    background: url("../images/bg-  mobile.png") center/cover no-repeat;
    display: flex;
    flex-direction: column;
}

header .logo{
    width: 150px;
    margin: 20px 0 40px 30px;
}

header .mockups{
    width: 80%;
    max-width: 400px;
    margin: 0 auto;
    padding-bottom: 40px;
}

.main-container{
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.main-container h1{
    font-size: 2rem;
    font-weight: 700;
    font-style: bold;
    line-height: 3.2rem;
    color: var(--just-white);
    margin-top: 20px;
    margin-bottom: 20px;
}

.main-container p{
    font-family: 'Open Sans', sans-serif;
    color: var(--just-white);
    font-size: 1.4rem;
    line-height: 2rem;
    font-weight: 400;
    margin-bottom: 20px;
}

.main-container .register-button{
    display: inline-block;
    width: 150px;
    height: 30px;
    background-color: var(--just-white);
    text-decoration: none;
    color: var(--violet);
    padding-top: 8px;
    border-radius: 20px;
}

footer{
    margin: 0 auto;
    margin-top: 40px;
}

footer ul{
    display: flex;
    justify-content: center;

}

footer li{
    width: 30px;
    height: 30px;
    padding: 2px 5px;
    margin: 0 5px;
    text-align: center;
    font-size: 1.5rem;
    color: var(--just-white);
    border: 1px solid var(--just-white);
    border-radius: 50%;
}

footer p{
    color: white;
    text-align: center;
    margin-top: 10px;
}